.list_books_wrap{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 100%;
  h2{
    font-weight: 600;
    font-size: 18px;
  }
}
.list_books {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
  list-style-type: none;
  padding: 20px 0;
  overflow-y: auto;
}
.empty_list_info{
  text-align: center;
  font-weight: 500;
}