.home_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px;
  width: 100vw;
  height: 100vh;
  h1 {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
  }
}
